/* Reset */
html {
  position: relative;
  min-height: 100%;
}

body {
}

nav .navbar-brand {
  padding-top: 18px;
}

nav .glyphicon {
  font-size: 24px;
}

nav .navbar-toggle {
  margin-top: 12px;
}

/* Structure */
#page {
  text-align: center;
}

/* Common */
.middle {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

.xs .middle, .sm .middle {
  width: 100%;
}

.field {
  margin-top: 15px;
  margin-bottom: 15px;
}

.xs .field, .sm .field, .field.small {
  margin-top: .5em;
  margin-bottom: .5em;
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.last.vertical {
  margin-bottom: 0 !important;
}

.first.vertical {
  margin-top: 0 !important;
}

.first.horizontal {
  margin-left: 0 !important;
}

.last.horizontal {
  margin-right: 0 !important;
}

.space.vertical.top {
  margin-top: 20px;
}

.space.vertical.bottom {
  margin-bottom: 20px;
}
