<div class="middle space vertical top bottom" style="height: 40px;">
    <div class="col-xs-8">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </span>
        </div>
    </div>
    <div class="col-xs-4">
    </div>
</div>
