<!--<form (submit)="addName()">
    <input [(ngModel)]="newName" placeholder="Awesome Computer Scientist">
    <button type="submit">Add</button>
</form>-->

<ul class="media-list">
    <li *ngFor="let scientist of scientists"
        class="media" style="border-bottom: 1px solid #ddd; padding-bottom: 10px;">
        <div class="media-left">
            <a href="#">
                <img class="media-object"
                     src="{{ scientist.picture }}" alt="{{ scientist.name }}"/>
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{ scientist.id }}</h4>
            <div>{{ scientist.name }}</div>
        </div>
    </li>
</ul>
